//colors

$headerColor: #000000bb;
$bodyColor: #000000dd;
$headerColor: #000000bb;
$bodyColor: #000000dd;

$color1: #0e2d4d;
$color2: #e84b0d;
$color3: #1e7a3b;
$color4: #641b87;

$hoverColor: #d4d4d41c;

// screen size
$mobile-width: 428px;