//colors

$headerColor: #000000bb;
$bodyColor: #000000dd;
$headerColor: #000000bb;
$bodyColor: #000000dd;

$color1: #002d5b;
$color2: #f44800;
$color3: #00af37;
$color4: #45009e;

$hoverColor: #d4d4d41c;

// screen size
$max-column-width: 1024px;
$mobile-width: 428px;

// durations
$animation-duration: 0.5s;
$hover-duration: 0.5s;
