@import "variables";

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;

  & a {
    font-size: 1.1em;
    padding: 0.5em 0.5em;
    color: $bodyColor;
    font-weight: 700;
    text-decoration: none;
  }

  @media screen and (max-width: $mobile-width){
    flex-direction: column;
    padding: 0.5em 0.5em;
    & a {
      padding: 0em 0.5em;
    }
  }
}

.content {
  margin: 2em;
}

.color1 {
  color: $color1
}
.color2 {
  color: $color2
}
.color3 {
  color: $color3
}
.color4 {
  color: $color4
}
