@import "../styles/variables";

.brand {
  a {
    font-size: 1.5em;
    color: $color1;
  }
}

.nav-links {
  display: flex;
  @media screen and (max-width: $mobile-width){
    margin-top: 1em;
  }
}
