@import "../styles/variables";

.navigation-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;

  @media screen and (max-width: $mobile-width) {
    flex-direction: column;
    padding: 0.5em 0.5em;
    & a {
      padding: 0em 0.5em;
    }
  }
}

.brand {
  display: flex;
  flex-direction: row;
  align-items: center;

  @media screen and (max-width: $mobile-width) {
    flex-direction: column; // only very small margin needed
  }
}

.nav-links {
  display: flex;
  @media screen and (max-width: $mobile-width) {
    margin-top: 2px; // only very small margin needed
  }
}

.logo {
  margin-right: 0.5em;

  @media screen and (max-width: $mobile-width) {
    margin-right: 0px;
  }
}

.home {
  @media screen and (max-width: $mobile-width) {
    display: none;
  }
}
