@import "../styles/variables";

.navigation-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1em;

  & a {
    padding: 0em 0.5em;
  }

  @media screen and (max-width: $mobile-width) {
    flex-direction: column;
    padding: 0.5em 0.5em;
    & a {
      padding: 0em 8px;
    }
  }
}

.brand {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;

  @media screen and (max-width: $mobile-width) {
    flex-direction: column; // only very small margin needed
  }
}

.nav-links {
  display: flex;
  flex-wrap: wrap;
  @media screen and (max-width: $mobile-width) {
    margin-top: 2px; // only very small margin needed
    justify-content: space-evenly;
  }
}

.logo {
  padding: 0 0.5em;

  svg {
    height: 36px;
    width: auto;
  }

  @media screen and (max-width: $mobile-width) {
    margin-right: 0px;
  }
}

.home {
  display: block;
  @media screen and (max-width: $mobile-width) {
    display: none;
  }
}
