@import "../../styles/variables";

.link {
  padding: 0 0.5em;
  .nav-label {
    &:hover {
      opacity: 0.8;
      transition: opacity $hover-duration;
    }
  }

  .underline {
    height: 3px;
    width: 0;
    margin: auto;
  }
  &.active-link {
    .underline {
      width: 100%;
      animation-duration: $animation-duration;
      animation-name: slidein;
      animation-timing-function: ease-out;
    }
  }
}

@keyframes slidein {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
